<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>http://d.app6.i4.cn/soft/2017/10/13/18/s1507888963549_325553.ipa</string>
                                </dict>
                                <dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://res.jyw.xy.com:81/ipa/i4/icon/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://res.jyw.xy.com:81/ipa/i4/icon/icon2.png</string>
				</dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>com.whalesgame.snjyw.i4</string>
                                <key>bundle-version</key>
                                <string>2.2.8</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>少年锦衣卫</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
